<component name="libraryTable">
  <library name="logback-classic-1.2.3">
    <CLASSES>
      <root url="jar://$USER_HOME$/Dropbox/Mac (2)/Downloads/logback-classic-1.2.3.jar!/" />
      <root url="jar://$USER_HOME$/Dropbox/Mac (2)/Downloads/logback-core-1.2.3.jar!/" />
      <root url="jar://$USER_HOME$/Dropbox/Mac (2)/Downloads/slf4j-api-1.7.9.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>